/* Para tablets */
@media screen and (max-width: 1200px) {
  #desktop-nav {
    display: none;
  }
  #hamburger-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
  }
  .context-container {
    flex-direction: column;
    padding: 2%;
  }
  .img-container img {
    max-width: 100%;
  }
  .skills-container p {
    flex: 0 0 30%;
  }
  .grid-imagenes {
        grid-template-columns: repeat(2, 1fr); /* 2 columnas en tablets */
    }
}

/* Para móviles */
@media screen and (max-width: 768px) {
  
  .logo img {
    max-width: 70px;
  }
  
  .context-container {
    padding: 5%;
  }
  
  .skills-container {
    flex-direction: column;
  }
  
  .skills-container p {
    flex: 0 0 100%;
    margin-bottom: 0.5rem;
  }
  
  .projects-container {
    flex-direction: column;
  }
  
  .project-card {
    width: 90%;
    margin-bottom: 2rem;
  }
  
  .video-container video {
    height: 40vh;
  }
  
  .title {
    font-size: 2rem;
    text-align: center;
  }

  .title h3{
    font-size: 1.5rem;
    text-align: center;
  }

  #desktop-nav {
    display: none;
  }
  #hamburger-nav {
    display: flex; /* Solo visible en móvil */
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
  }

  #whatsapp-button {
    display: flex;
  }
  .grid-imagenes {
        grid-template-columns: 1fr; /* 1 columna en móviles */
    }
 .projects-container {
    gap: 1rem;
    padding: 1rem;
  }

  .project-card {
    width: 85%;
    height: 70%;
    min-width: unset;
    max-width: 350px;
    flex-direction: column;
    margin: 0 auto 1.5rem;
    border: 1px solid rgb(255, 255, 255) ;
    padding: 0;
  }

  .project-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
  }

  .project-info {
    padding: 1.5rem;
    width: 100%;
    box-sizing: border-box;
  }

  .project-info h3 {
    font-size: 1.4rem;
    text-align: center;
  }

  /* Ajustes para el hover en móviles */
  .project-card:hover {
    transform: none;
    background-color: #000;
    border:#963535 solid;
  }

  .project-card:hover h3 {
    color: white;
  }

  .project-card:active {
    transform: scale(0.98);
    background-color: rgba(255, 255, 255, 0.1);
  }

  .obras-container {
        grid-template-columns: 1fr;
        padding: 1rem;
    }
    
  .obra-card {
        width: 90%;
        margin: 0 auto 1.5rem;
    }

    .contact-methods {
    align-items: center;
    flex-direction: column;
  }
  
  .contact-item {
    width: 85%;
  
  }
  .contact-item a {
    font-size: 1.2rem;
  }
  
  .contact-container h1 {
    font-size: 2rem;
  }

}

/* Pantallas muy pequeñas */
@media screen and (max-width: 480px) {
  .logo div {
    font-size: 1rem;
  }
  
  .video-container video {
    height: 30vh;
  }
  
  .text-container h2 {
    font-size: 1.5rem;
  }

  
}